html {
  background-color: #c9b5ab;
}

#beetroot {
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  color: #222
}

footer {
  font-size: 0.8rem;
}

nav ol {
  font-family: s'PT Sans', sans-serif;
}
